.center {
  text-align: center;
  box-sizing: border-box;
}

.card {
  text-align: left;
  width: 90%;
  margin: 10%;
  padding: 2%;
  min-height: 300px;
}

.selected {
  background-color: yellow;
  border-width: 5px;
}